*{
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #2c3e50;
    margin: 0;
    padding: 0;
}

#settings-btn{
    cursor: pointer;
    font-size: 15px;
    padding: 8px 15px;
    border-radius: 5px;
    border: 0;
    position: absolute;
    bottom: 30px;
    left: 30px;
    transition: transform 0.3s ease;
}
#settings-btn:active, button:active{
    transform: scale(0.90);
}

button{
    cursor: pointer;
    font-size: 15px;
    padding: 8px 15px;
    border-radius: 5px;
    border: 0;
    transition: transform 0.3s ease;
}

.settings{
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    min-height: 40px;
    color: #fff;
    transform: translateY(0%);
    transition: transform 0.3s ease-in-out;
}
.settings.hide{
    transform: translateY(-100%);
}
#difficulty{
    border: 0;
    border-radius: 4px;
    padding: 5px 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0 10px;
    font-size: 16px;
    background: #a7c5e3;
    width: 20vw;
    min-width: 30px;
}

.container{
    color: #fff;
    background-color: #34495e;
    padding: 10px 25px 30px 25px;
    position: relative;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.3);
    text-align: center;
    
}
#word{
    font-size: 46px;
    margin: 5px 0 10px 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#text{
    padding: 7px 10px;
    border: 0;
    border-radius: 5px;
    font-size: 15px;
}

h2{
    background-color: rgba(0,0,0,0.3);
    padding: 8px;
    margin: 0 0 40px 0;
    border-radius: 5px;
}
.time-container{
    position: absolute;
    top: 50px;
    left: 20px;
}
.score-container{
    position: absolute;
    top: 50px;
    right: 20px;
}
.end-game-container{
    background-color: inherit;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}